<!--
  Generated template for the CadastroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="user.name" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Nick</ion-label>
      <ion-input type="text" [(ngModel)]="user.nick" ></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="user.email" ></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Confirmação de Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.password_confirmation" ></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button block ion-button (click)="signUp()">Cadastrar</button>
  </div>
</ion-content>
