<!-- Generated template for the InParagrafoComponent component -->
<p>
  {{text}}
</p>
<label>input caraIN</label>
<input type="text" [(ngModel)]="valorInput" placeholder="Sou um placeholder" />
<p>{{valorInput}}</p>